.title{
  font-size: 3em;
  text-align: center;
  background: -webkit-radial-gradient(#fff, rgb(120, 205, 242));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


